<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447227872283-hmeo3gr5urfjm7pc8c976l7n7luqnmdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447227872283-hmeo3gr5urfjm7pc8c976l7n7luqnmdt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>447227872283-l8l2bvpr2lkdkijgfp9m0gbeqd66lbid.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBymSB0URnDGJr-an2bKEHUqXwYwqngwPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>447227872283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.yugen.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>yugen-213cf</string>
	<key>STORAGE_BUCKET</key>
	<string>yugen-213cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447227872283:ios:bd9ef142037d89d7f2a4be</string>
	<key>DATABASE_URL</key>
	<string>https://yugen-213cf-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>